@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
/*font-family: 'Tangerine', cursive;*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Kaushan Script', cursive;
}

.comparison-slider {
  position: relative;
  width: 100%;
  min-height: 55vh;
  overflow: hidden;
}

.picture {
  position: absolute;
  width: 100vw;
  min-height: 55vh;
  overflow: hidden;
}

.picture__content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 55vh;
}

.picture__content {
  width: 25%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}

.picture img {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
}

.comparison-slider h3 {
  font-size: 12px;
}

.comparison-slider p {
  font-size: 8px;
}

.picture--left {
  z-index: 1;
}

.picture-left .picture__content {
  right: 5%;
}

.picture--left h3 {
  color: #f6bbbb;
}

.picture--right {
  color: #222;
  z-index: 2;
  width: 50vw;
}

.picture--right .picture__content {
  left: 5%;
  color: #222;
}

.picture--right {
  transform: skew(-30deg);
  margin-left: -2000px;
  width: calc(50vw + 2000px);
}

.picture--right .picture__content-wrap {
  transform: skew(30deg);
  margin-left: 2000px;
}